body { width: 100%; }
h1 { float: left; }
p { clear: both; }

.wrapper { width: 1024px; margin: 0 auto;}
.span2 { border-right: 1px solid #c4c4c4; min-height: 1200px !important; }


#left ul { margin-left: 10px; padding: 0px; }
#left li { margin: 5px 0px 5px 0px; padding: 4px; list-style: none; }
#left .active, #left li:hover { border-top: 1px solid #FFCA73; border-bottom: 1px solid #FFCA73; border-right: none; background-color: #363636; color: #fff; font-weight: 600; cursor: pointer; }
#left .active a, #left li:hover a { color: #fff;}

#content { clear: both; }
#content ul { margin: 0px; padding: 0px; }

#games { width: 100%;}
#games span, #games input { font-size: 0.8em; }
#games h3 { float: left; width: 70%; }
#games .header { background-color: #363636; color: #fff; font-weight: 600; margin-bottom: 20px; font-size: 1.2em; }
#games .header span { padding-bottom: 0px; border: none; }

.games li { clear: both; list-style: none; display: block; height: 30px; }
.games li.sortable-row { cursor: move; }
.games span, .games .spread { display: block; float: left; margin-left: 10px; }
.games .spread, .games .tiebreak, .score input { width: 30px; text-align: left; }
.games input.spread, .games .tiebreak, .games .game-time  { margin-bottom: 5px; }
.games input.spread, .games input.tiebreak { width: 27px; }
.games .tiebreak { margin-left: 5px; }
.games span.spread, .games span.tiebreak, .games span.game-time { margin-top: 5px; }
.games .team, .games .date-time { width: 210px; height: 18px; border: 1px solid #e4e4e4; padding: 5px; margin-bottom: 5px; }
.games .home { text-transform: uppercase; font-weight: 600; }
.games .move { cursor: pointer; }
.games .date-time { width: 130px; }
.games .move-spacer, .games .spacer { width: 10px; }
.games .score-spacer { width: 40px; }
.loading img { vertical-align: middle; margin-right: 10px;}
.games input { font-size: 0.8em; }

#games .scores input { font-size: 1.1em;}
#games .scores .team { font-size: 1.1em; width: 230px;}

#add { /*float: right;*/ margin-top: 5px; }

#addEditForm { width: 450px; }
fieldset label, fieldset input, fieldset select { float: left; margin-left: 10px; }

button.save, button.save-games, button.cancel, button.add-game, button.save-scores, button.add-user, button.save-picks, button.calculate { float: right; margin: 20px 0px 5px 5px; }

.icons { width: 20px; height: 20px; margin-left: 10px; margin-top: 3px; cursor: pointer;}
#games .icons { margin-left: 0px; }
.edit { cursor: pointer; }
#active_games .move { background-image: url(/pickem/assets/images/delete.png); }
#available_games .move { background-image: url(/pickem/assets/images/plus.png); }

.error { font-weight: 600; color: #f00; border: 1px solid #f00; padding: 5px; margin-bottom: 8px;}

.users, #standings { width: 100%; padding: 3px; float: left; margin-top: 5px; }
.users tr, #standings tr { width: 100%; }
.users th, #standings th { background-color: #363636; color: #fff; font-weight: 600; }
.users th, #standings th, .users td, #standings td { padding: 5px; text-align: left; }
.users th:first-child, .users td:first-child { width: 25%; }

#login { width: 50%; margin-top: 20px; }

.picks .team { cursor: pointer; }
.picks .team:hover, .picks .pick { background-color: #FF9A00; color: #fff; font-weight: 500; }
.picks .highlighted { border: 1px dotted #f00; }
.picks li { padding: 3px; }

#standings .highlight { background-color: #FFCA73;}
#standings { margin-top: 20px; }
